html, body {
    height: 100%; /* Asegura que el HTML y el body ocupen toda la altura de la pantalla */
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; /* Organiza el contenido en columna */
}

main {
    flex: 1; /* Esto hará que el contenido ocupe el espacio disponible */
}

footer {
    margin-top: auto; /* Esto empuja el footer hacia el fondo */
}